@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';




.app::-webkit-scrollbar{
    display: none;
}

